
$background-principal: whitesmoke;
$colortitulo-header:rgb(255, 255, 255);
$background-header: url(../imagenes/fondoPiano.jpg);
$background-footer: black;
$sizetitulo-principal:50px;
$size-subtitulo: 40px;
$size-parrafo: 25px;
