/*correspondiente a page clases*/

.feature{
    padding-top: 50px;
    img{
     max-width: 77%;
    cursor: pointer;
    border-radius: 2em;

    }

  }
 
  .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: $font-principal;
  
  }
  .col-md-6{
    font-family: $font-principal;
    p{
    font-size: $size-parrafo;
     text-align: center;
     color:rgb(92, 88, 88);
    }
    h6{
    font-family: $font-principal;
    font-size: 25px;
    font-weight: bold;

    }

    }
  
  

  
  .subtitle {
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
  }
  .service-box {
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 4s;
  }
  .container{
   padding:50px;
  }
  
  .service-box:hover{
     background-color: gray;
  }
  .col-md-8{
    text-align: right;
     font-family: $font-principal;
     padding-bottom: 40px;
     h2{
        font-size: $size-subtitulo;
        text-align: right;
      
     }
  }
  
 