.contacto{
    padding: 40px;
  }
  
  input:focus{
    width: 200px;
    font-size: 15px;
  }
  
  .header {
      color: #535455;
      font-size: 27px;
      padding: 10px;
  }
  
  .bigicon {
      font-size: 35px;
      color: #484848;
  }
 